<div id="colone">

	<div id="currentuser">
		<img id="main" src="Image.jpg"/>
		<p id="name">
			<%= current_user.fname %> <%= current_user.lname %>
		</p>
		<p id="hash">
			@<%= current_user.username %>
		</p>

		<div id="count">
			<div class="stats">
				<a class="head" href="/profile">POSTS</a>
				<br>
				<span class="amount"><%= current_user.posts.count %></span>
			</div>
			<div class="statsprofile">
				<a class="head" href="/following/<%= current_user.id %>">FOLLOWING</a>
				<br>
				<span class="amount"><%= current_user.followed_users.count %></span>
			</div>
			<div class="statsprofile">
				<a class="head" href="/followers/<%= current_user.id %>">FOLLOWERS</a>
				<br>
				<span class="amount"><%= current_user.followers.count %></span>
			</div>
		</div>

	</div>

</div>

<div id="coltwo">

	<div id="userlist">

		<h1>
			All Users
		</h1>

		<hr>

		<% User.all.each do |user| %>
			<div id="userdiv">
				<a class="usernamelink" href="/users/<%= user.id %>">
					<img src="Thumbnail.jpg" width="50px"/>
					@<%= user.username %>
				</a>
			</div>
			<div id="followcheck">
				<% if current_user.following?(user) %>
					<a href="/unfollow/<%= user.id %>">
						<button id="unfollowclick">UNFOLLOW</button>
					</a>		
				<% else %>
					<a href="/follow/<%= user.id %>">
						<button id="followclick">FOLLOW</button>
					</a>
				<% end %>
			</div>
			<div class="clear">
			</div>
			<hr>
		<% end %>

	</div>

</div>